#main{
	width: 100%;
	background: cornflowerblue;
}
#qubaibian{
	margin: 0;
	padding: 0;
}
#a1{
	width: 60px;
	text-align: center;
	color: red;
}
#a2{
	font-size: 40px;
	text-align: center;
	color: green;
}
#a3{
	width: 60px;
	color: blue;
}
